
<nav class="top-nav">
<a href="#" data-activates="slide-out-l" class="button-collapse  full  left">
			<i class="material-icons">menu</i>
		</a>
	<div class="container ">
	<div class="nav-wrapper" >			
		<a href="/quizHome" class=" center">Quizzipedia</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down"  >  
			<li><a href="#!" >Possibile Menu 1</a></li>
			<li><a href="#!" >Possibile Menu 2</a></li>
		</ul>
	</div>
	</div>
</nav>

<ul id="slide-out-l" class="side-nav fixed">
	<li  >
		<a href="/" id="logo"><img class="responsive-img " id="logo" src="images/q.png"></a>
	</li>
	<li><login-buttons></login-buttons></li>
	<li ng-show="$ctrl.isLoggedIn" class="bold"><a href="/userProfile" class="waves-effect waves-teal">Profilo</a></li>
	<li class="bold"><a href="/searchForm" class="waves-effect waves-teal">Cerca</a></li>	
	<li class="bold"><a href="/quizlist" class="waves-effect waves-teal">Tutti i Quiz</a></li>	
	<div ng-show="$ctrl.isLoggedIn">
		<!--<li class="bold"><a href="/questionlist" class="waves-effect waves-teal">Question List</a></li>-->
		<li class="bold"><a href="/questionForm" class="waves-effect waves-teal">Crea Domanda</a></li>
		<li class="bold"><a href="/quizCreationForm" class="waves-effect waves-teal">Crea Quiz</a></li>		
	</div>	
</ul>


