<div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>

<ul id="nav-mobile" class="side-nav fixed">
	<li><a href="/" id="logo"></a></li>
	<li class="bold"><a href="/quizlist" class="waves-effect waves-teal">Quiz List</a></li>
	<li class="bold"><a href="/questionForm" class="waves-effect waves-teal">Create Question</a></li>
	<li class="bold"><a href="/quizCreationForm" class="waves-effect waves-teal">Create Quiz</a></li>
</ul>
