<div >
	<div>
		<div class="alert success" ng-class="{{msgAlert}}" ng-show="$ctrl.questionInserted">
			<span class="closebtn" ng-click="$ctrl.questionInserted=false;">&times;</span>
			Your question has been inserted!
		</div>
		<header>
			<h1>Question Creation</h1>
		</header>
			
		<form ng-submit="$ctrl.saveQuestion($ctrl.QMLtext, $ctrl.category)">
			<fieldset>
				<legend class="hidden">Create your question</legend>
				 <div >
					<fieldset>
						<div class="input-field">
							<label for="category" data-error="wrong" data-success="right">Category</label>
							<input type="text" name="category" id="category" class="validate" value="eqweqwe" ng-model="$ctrl.category"/>
						</div>
						<div class="input-field">
							<label for="qmlCode">QML Code</label>
							<textarea id="QMLCode" class="materialize-textarea" value="eqweqwe" ng-model="$ctrl.QMLtext"></textarea>							
						</div>				
					</fieldset>
				</div>
				
				<span id="check" ng-click="$ctrl.check($ctrl.QMLtext)" class="waves-effect waves-light btn">Check QML</span>
				<input type="submit" id="submit" value="Save Question" class="waves-effect waves-light btn"/>				
			</fieldset>
		</form>
	</div>
</div>
