<div>		
	<ul class="collapsible popout" data-collapsible="accordion">
		<li ng-repeat="question in $ctrl.questions">
			<div class="collapsible-header question-header">
				<i class="material-icons">live_help</i> <strong>{{ $ctrl.getQuestionDetails(question.QMLtext).text }}</strong> 
				<!-- Alert Trigger -->  
				<button data-target="questionModal" class="waves-effect waves-light btn right delete-button modal-trigger" ng-click="$ctrl.openAlertQuestion(question._id)">X</button>								
			</div>
			<div class="collapsible-body question-details">				
				Categoria: {{question.category}}<br>
				Tipo: {{ $ctrl.getQuestionDetails(question.QMLtext).type }}			
			</div>			  
		</li>
	</ul>		
  
</div>		

<!-- Alert Structure -->
<div id="questionModal" class="modal">
	<div class="modal-content">
	  <h4>Conferma</h4>
	  <p>Sei sicuro di voler eliminare la domanda?</p>
	</div>
	<div class="modal-footer">
	  <a href="#" class=" modal-action modal-close waves-effect waves-green btn" ng-click="$ctrl.deleteQuestion($ctrl.toDelete)">Elimina</a>
	  <a href="#" class=" modal-action modal-close waves-effect waves-green btn" ng-click="$ctrl.toDelete = undefined;">Annulla</a>
	</div>
</div>	
