<div>		
	<header>
		<h1>Question List</h1>
	</header>

	<ul class="collapsible popout" data-collapsible="accordion">
		<li ng-repeat="question in $ctrl.questions">
			<div class="collapsible-header question-header">
				<i class="material-icons">live_help</i> <strong>{{ $ctrl.getQuestionDetails(question.QMLtext).text }}</strong> 
				<span class="waves-effect waves-light btn right delete-button" ng-click="$ctrl.deleteQuestion(question._id)">X</span> <br>						
			</div>
			<div class="collapsible-body question-details">				
				Categoria: {{question.category}}<br>
				Type: {{ $ctrl.getQuestionDetails(question.QMLtext).type }}			
			</div>
		</li>
	</ul>
</div>
