<div>		
	<header>
		<h1>Question List</h1>
	</header>

	<ul class="collapsible popout" data-collapsible="accordion">
		<li ng-repeat="question in $ctrl.questions">
			<div class="collapsible-header">
				<i class="material-icons">live_help</i> <strong>{{ $ctrl.getQuestionDetails(question.QMLtext).text }}</strong> <br>			
			</div>
			<div class="collapsible-body question-list">				
				Categoria: {{question.category}}<br>
				Type: {{ $ctrl.getQuestionDetails(question.QMLtext).type }} 				
			</div>
		</li>
	</ul>
</div>
