
	<div class="row">			

		<div class="qzcomp card-panel  col s12 m12 l12">
			<div class="qzcomphdr col s12 m12 ">
				<div class="col s12 m l9 card">
					<p class="col s8 center">	{{$ctrl.miniModel[0].titolo}} </p>
					<p>	Tempo rimanente: {{$ctrl.prova}} -sep-{{$ctrl.teto}} {{$ctrl.utente.nome}}</p>
				</div>				
				<div class="col s12 m3 offset-m1 l2 offset-l1"> 
					<a class="waves-effect waves-light btn col s12 card " ng-click="$ctrl.cambia()">Consegna!</a> 
				</div> 
				
				<div class="col s12 m12 l12 breadcrumb1 flat">
					<a href="#" class="active">Inizio</a>
					<a href="#" ng-repeat= "x in $ctrl.miniModel[0].questions" ng-click="$ctrl.goIndex($index)">{{$index+1}}</a>					
					<a href="#" class="active">Fine</a>					
				</div>
			</div>
			<div class="qzdmd col s12 m12 l12  " >
				<div class="col s12 m9 l8 offset-l1  card ">
					<p>{{$ctrl.miniModel[0].questions[$ctrl.idx].ask}}</p>
				</div>
				<div class="col s12 m2 offset-m1 l2    ">
					<p class="center">
					<img class="responsive-img " id="qzimg" src="$ctrl.miniModel[0].questions[$ctrl.idx].image">
					</p>
				</div>
				<div class="row">
				<div class="divider col s12"></div>
				<div ng-show="$ctrl.miniModel[0].questions[$ctrl.idx].tipo = 'dF' " >
					
					<div class="section vero col s12 l8 offset-l2 ">
						<a class="waves-effect waves-light btn col s12 l6 offset-l3  card">VERO</a>				
					
						<a class="waves-effect waves-light btn col s12 l6 offset-l3 card">FALSO</a>
					</div>
					
					<div class="section sceltasingola col s12 l8 offset-l2 ">
						
							<p class=" col s12 m6 l6">
								<input class="with-gap" name="group1" type="radio" id="test1" />
     							 <label for="test1">Red</label>
    						</p>
    						<p class=" col s12 m6 l6" >
      							<input class="with-gap" name="group1" type="radio" id="test2" />
     							 <label for="test2">Yellow</label>
    						</p>
    						<p class=" col s12 m6 l6">
      							<input class="with-gap" name="group1" type="radio" id="test3"  />
      							<label for="test3">Green</label>
    						</p>
      						<p class=" col s12 m6 l6">
        						<input class="with-gap" name="group1" type="radio" id="test4"  />
        						<label for="test4">Brown</label>
    						</p>  						
					</div>
					<div class="section sceltamultipla col s12 l8 offset-l2 ">
						 <p class=" col s12 m6 l6" >
							<input type="checkbox" id="test5" />
      						<label for="test5">Red</label>
    						</p>
    					<p class=" col s12 m6 l6" >
      						<input type="checkbox" id="test6"  />
      						<label for="test6">Yellow</label>
    					</p>
    					<p class=" col s12 m6 l6" >
      						<input type="checkbox"  id="filled-in-box"  />
      						<label for="filled-in-box">Filled in</label>
    					</p>
    					<p class=" col s12 m6 l6" >
      						<input type="checkbox" id="indeterminate-checkbox" />
      						<label for="indeterminate-checkbox">Indeterminate Style</label>
    					</p>					
					</div >
					<div class="section associazione col s12 l8 offset-l2 ">
						<div ng-repeat="p in ['paul', 'john', 'luc']" class="card-panel col s12">
						<p class=" col s12 m6 l4 offset-l1">
							<select ng-model="selectedItem">
								<option value="" disabled selected>Choose your option</option>
								<option ng-repeat="p in ['paul', 'john', 'luc']" value="{{p}}">{{p}}</option>
							</select>
						</p>
						<p class=" col s12 m6 l4 offset-l1">
							<select ng-model="selectedItem">
								<option value="" disabled selected>Choose your option</option>
								<option ng-repeat="p in ['paul', 'john', 'luc']" value="{{p}}">{{p}}</option>
							</select>
						</p>
						</div>
						
					</div>
					
				</div>
				</div>
				
			</div>
				
		<div class="row">	
			<div class="col s3 m2 l3  ">
				<a class="waves-effect waves-light btn col s12 m8 offset-m2 l6 offset-l3 " ng-click="$ctrl.goback($ctrl.miniModel[0].questions)">PREC.</a>
			</div>
			<div class="col s3 offset-s6 m2 offset-m8 l3 offset-l6 ">
				<a class="waves-effect waves-light btn col s12 m8 offset-m2 l6 offset-l3 " ng-click="$ctrl.gonext($ctrl.miniModel[0].questions)">SUCC.</a>
			</div>
		</div>
		</div>
	
	
</div>
<div class="row">			
	
	
</div>
