<div >
	<header>
		<h1>Quiz Creation</h1>
	</header>
	
	<form class="row">
		<fieldset>
			<legend class="hidden">Create your quiz</legend>
			 <div>
				<fieldset>
					<div class="input-field col s6">
						<label for="title">Title</label>
						<input type="text" id="title"/>
					</div>
					<div class="input-field col s6">
						<label for="category" class="hidden">Category</label>
						<select id="category" ng-model="selectedCategory">
						  <option value="" disabled selected>Choose a Category</option>
						  <option value="1">Storia</option>
						  <option value="2">Economia</option>
						  <option value="3">SWE</option>
						</select>
					</div>					
				</fieldset>
				
				<input type="submit" id="submit" value="Save Quiz" ng-click="saveQuiz()" class="waves-effect waves-light btn"/>
			</div>
			
			
		</fieldset>
	</form>

</div>
