<div>
	<header>
		<h1>Quiz List</h1>
	</header>
			
	<ul class="collapsible popout" data-collapsible="accordion">
		<li ng-repeat="quiz in $ctrl.quizzes" >
			<div class="collapsible-header">
				<i class="material-icons">subject</i> <strong>{{quiz.title}}</strong> <br>			
			</div>
			<div class="collapsible-body quiz-list">				
				<ul>
					<li>Number of questions: {{quiz.questions.length}}</li>
					<li>Categories: <span ng-repeat="category in quiz.categories">{{category}} </span></li>
					<li>Maximum time: {{quiz.time}}</li>
				</ul>				
			</div>
		</li>
	</ul>
</div>
