
<div class="row">
	<br/>
	<div class="col s12">			
	
		Nome del Quiz: {{$ctrl.quizObj.title}}
	
	</div>
	<div class="col s12">
		Domande totali: {{$ctrl.quizObj.questions.length}}
	</div>
	<div class="col s12">
		Autore: {{$ctrl.quizObj._author}}
	</div>
	<div class="col s12">
		<br>
		HAI REALIZZATO: <strong> {{$ctrl.punti}} </strong> punti.
		<h1> RISULTATO DELLE DOMANDE </h1>
		<div id="lista_risposte">
			<div ng-repeat="question in $ctrl.quizObj.questions">
				<div>
					<p>{{question.text}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
