<div class="divider"></div>
<div class="row jumbotron center">
    <div class="col s12">
        <h1>Quizzipedia</h1>
        <blockquote class="quote">Cultura è quella cosa che i più ricevono, molti trasmettono e pochi hanno
            <cite class="author">(Karl Kraus)</cite>
        </blockquote>
    </div>
</div>
<div class="row container">
    <div class="col s12 m4 center promo" ng-show="$ctrl.isLoggedIn">
        <i class="material-icons large">settings</i>
        <p class="promo-title">Creazione domande semplice e veloce</p>
        <p>Tutte le domande possono essere create utilizzando un apposito linguaggio, il QML, oppure utilizzando l'interfaccia creata su misura.</p>
        <a class="waves-effect waves-light btn" href="/questionForm">Crea domanda</a>
    </div>
    <div class="col s12 m4 center promo">
        <i class="material-icons large">search</i>
        <p class="promo-title">Lista questionari</p>
        <p>Esplora l'intera lista di questionari per trovare quello più adatto a te.</p>
        <a class="waves-effect waves-light btn" href="/quizlist">Cerca questionario</a>
    </div>
    <div class="col s12 m4 center promo" ng-show="$ctrl.isLoggedIn">
        <i class="material-icons large">perm_identity</i>
        <p class="promo-title">Gestione domande personali</p>
        <p>Ogni domanda e questionario creati possono essere visualizzati o eliminati in ogni momento dalla propria pagina del profilo.</p>
        <a class="waves-effect waves-light btn" href="/userProfile">  Gestisci  </a>
    </div>
    <div class ="col s12 m4 center promo" ng-show="!$ctrl.isLoggedIn">
		<i class="material-icons large">vpn_key</i>
        <p class="promo-title">Accedi</p>
        <p>Accedi per usufruire delle funzionalità complete di Quizzipedia</p>        
    </div>
</div>


<!--
<div class="row dev2">
    <div class="container">
        <div class="col s3 photo">
            <img src="images/abeccaro.jpg" alt="Alex Beccaro" class="circle dev-photo" />
        </div>
        <div class="col s9">
            <p class="name">Alex Beccaro</p>
            <p class>Programmatore di incredibili capacità tecniche, sa fare di tutto ed è pure molto veloce, 10/10 ign review</p>
            <p>Specialization: front-end development</p>
        </div>
    </div>
</div>
<div class="row dev2">
    <div class="container">
        <div class="col s3 photo">
            <img src="images/abeccaro.jpg" alt="Alex Beccaro" class="circle dev-photo" />
        </div>
        <div class="col s9">
            <p class="name">Alex Beccaro</p>
            <p class>Programmatore di incredibili capacità tecniche, sa fare di tutto ed è pure molto veloce, 10/10 ign review</p>
            <p>Specialization: front-end development</p>
        </div>
    </div>
</div>
<div class="row dev2">
    <div class="container">
        <div class="col s3 photo">
            <img src="images/abeccaro.jpg" alt="Alex Beccaro" class="circle dev-photo" />
        </div>
        <div class="col s9">
            <p class="name">Alex Beccaro</p>
            <p class>Programmatore di incredibili capacità tecniche, sa fare di tutto ed è pure molto veloce, 10/10 ign review</p>
            <p>Specialization: front-end development</p>
        </div>
    </div>
</div>
<div class="row dev2">
    <div class="container">
        <div class="col s3 photo">
            <img src="images/abeccaro.jpg" alt="Alex Beccaro" class="circle dev-photo" />
        </div>
        <div class="col s9">
            <p class="name">Alex Beccaro</p>
            <p class>Programmatore di incredibili capacità tecniche, sa fare di tutto ed è pure molto veloce, 10/10 ign review</p>
            <p>Specialization: front-end development</p>
        </div>
    </div>
</div>
<div class="row dev2">
    <div class="container">
        <div class="col s3 photo">
            <img src="images/abeccaro.jpg" alt="Alex Beccaro" class="circle dev-photo" />
        </div>
        <div class="col s9">
            <p class="name">Alex Beccaro</p>
            <p class>Programmatore di incredibili capacità tecniche, sa fare di tutto ed è pure molto veloce, 10/10 ign review</p>
            <p>Specialization: front-end development</p>
        </div>
    </div>
</div>
<div class="row dev2">
    <div class="container">
        <div class="col s3 photo">
            <img src="images/abeccaro.jpg" alt="Alex Beccaro" class="circle dev-photo" />
        </div>
        <div class="col s9">
            <p class="name">Alex Beccaro</p>
            <p class>Programmatore di incredibili capacità tecniche, sa fare di tutto ed è pure molto veloce, 10/10 ign review</p>
            <p>Specialization: front-end development</p>
        </div>
    </div>
</div>
-->
