<div class="row">
	<div class="input-field col s12 m6">		
		<h3>Categoria</h3>
		<select ng-model="$ctrl.category" class="browser-default">
			<option value="" selected>Tutte le categorie</option>			
			<option ng-repeat="category in $ctrl.inputCategories track by $index" value="{{category}}">{{category}}</option>			
		</select>									
	</div>
	<div class="col s12">		
		<ul class="collapsible popout">		
			<li class="collection-item" ng-repeat="quiz in $ctrl.quizzes">
				<div class="collapsible-header quiz-item">
					<i class="circle material-icons quiz-icon">assignment</i>
					<strong>{{quiz.title}}</strong>					
					<a href="quizCompilation" class="secondary-content right" ng-click="$ctrl.log($parent)"><span class="left">Svolgi </span><i class="material-icons">send</i></a>
					<!-- Alert Trigger -->
					<button data-target="quizModal" class="waves-effect waves-light right btn delete-button modal-trigger" ng-show="$parent.$parent.$ctrl.allowDelete && $ctrl.isOwner(quiz.owner)" ng-click="$ctrl.openAlertQuiz(quiz._id)">X</button>
				</div>
				<div class="collapsible-body">
					<p>Numero di domande: {{quiz.questions.length}}<br />
					Categorie: <span ng-repeat="category in quiz.categories">{{category}} </span><br />
					Tempo massimo: {{quiz.time}} <br>
					Autore: {{$ctrl.getAuthor(quiz.owner)}}</p>
				</div>
			</li>
		</ul>
	</div>
</div>

<!-- Alert Structure -->
<div id="quizModal" class="modal">
	<div class="modal-content">
	  <h4>Conferma</h4>
	  <p>Sei sicuro di voler eliminare il quiz?</p>
	</div>
	<div class="modal-footer">
	  <a href="#" class=" modal-action modal-close waves-effect waves-green btn" ng-click="$ctrl.deleteQuiz($ctrl.toDelete)">Elimina</a>
	  <a href="#" class=" modal-action modal-close waves-effect waves-green btn" ng-click="$ctrl.toDelete = undefined;">Annulla</a>
	</div>
</div>	
