
	<div class="row">			
		<div class="col s12 " >
			
			
			
		</div>
		<div class="col s12 m6 offset-m3 l6 offset-l3 center" ng-hide="$ctrl.quizPlay">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{$ctrl.miniModel.title}}</span>
              <p>{{$ctrl.miniModel.description}}</p>
            </div>
            <div class="card-action">
              <a class=" waves-effect waves-light btn"  ng-click="$ctrl.goBack()">Indietro</a>
              <a class=" waves-effect waves-light btn"  ng-click="$ctrl.startQuiz()">Inizia il Quiz</a>
            </div>
          </div>
        </div>
		<div class="qzcomp card-panel  col s12 m12 l12" ng-show="$ctrl.quizPlay">
			<div class="qzcomphdr col s12 m12 ">
				<div class="col s12 m l9 card">
					<p class="col s6 ">	{{$ctrl.miniModel.title}} </p>
					<p class="col s2" > {{$ctrl.idx + 1}}/{{$ctrl.myQuiz.length}} </p>
					<p class="col s3 offset-s1 right"> 	
					<i class="material-icons">av_timer</i> 
					<span id="viewTimer" >{{ $ctrl.pageTime.tempo | date:'mm:ss'}}</span>
					</p>
				</div>				
				<div class="col s12 m3 offset-m1 l2 offset-l1"> 
					<a  href="quizResults" class="waves-effect waves-light btn col s12 card " ng-click="$ctrl.submitQuiz()">Consegna!</a> 
				</div> 
				
				<div class="col s12 m12 l12 breadcrumb1 flat hide-on-small-only">
					
					<a href="#" ng-repeat= "x in $ctrl.myQuiz" ng-click="$ctrl.goIndex($index)" class="{{x.nClass}}">{{$index+1}}
					</a>					
									
				</div>
			</div>
			<div class="qzdmd col s12 m12 l12  " >
				<div class="row">
					<div class="col s12 m9 l8 offset-l1  card ">
						<p>{{$ctrl.myQuiz[$ctrl.idx].text}}</p>
					</div>
					<div class="col s12 m2 offset-m1 l2    ">
						<p class="center"  ng-if="$ctrl.myQuiz[$ctrl.idx].image != undefined">
						<img class="responsive-img " id="qzimg" src="{{$ctrl.myQuiz[$ctrl.idx].image}}">
						</p>
					</div>
				</div>
				<div class="row">
				<div class="divider col s12"></div>
				<div ng-switch="$ctrl.myQuiz[$ctrl.idx].type">
					
					<div class="section vero col s12 l8 offset-l2 " ng-switch-when="VF">
						<a class="waves-effect waves-light btn col s12 l6 offset-l3 card"  ng-click="$ctrl.setAnswer(true)" ng-class="{'grey lighten-3 black-text ': true != $ctrl.myQuiz[$ctrl.idx].risp}">VERO</a>	
						<a class="waves-effect waves-light btn col s12 l6 offset-l3 card"  ng-click="$ctrl.setAnswer(false)" ng-class="{'grey lighten-3 black-text': false != $ctrl.myQuiz[$ctrl.idx].risp}">FALSO</a>
						
						
						
					</div>
					
					<div class="section sceltasingola col s12 l8 offset-l2 " ng-switch-when="MU">
						<div class="col s12">
							<p class=" col s12 m6 l6"  ng-repeat="rad in $ctrl.myQuiz[$ctrl.idx].ans">
								<input class="with-gap" type="radio" ng-model="$ctrl.myQuiz[$ctrl.idx].risp" value="{{rad.id}}" id="radio{{rad.id}}" name="group{{$ctrl.idx}}"  />
     							 <label for="radio{{rad.id}}">{{rad.text}}</label>
    						</p>
    					</div>	  						
					</div>
					<div class="section sceltamultipla col s12 l8 offset-l2 " ng-switch-when="MX">
						<p class=" col s12 m6 l6"  ng-repeat="chk in $ctrl.myQuiz[$ctrl.idx].ans">
							<input type="checkbox" id="check{{chk.id}}"  ng-model="$ctrl.myQuiz[$ctrl.idx].risp[chk.id]" />
      						<label for="check{{chk.id}}">{{chk.text}}</label>
    					</p>
    					
    						 
								
					</div >
					<div class="section associazione col s12 l8 offset-l2 " ng-switch-when="AS">
				
						<div class="card-panel col s12">
						<p class="col s12 " ng-repeat="(adx,asa) in $ctrl.myQuiz[$ctrl.idx].ans.A" >
							<span class="col s12 m6 l5  ">
								{{asa.text}}
							</span>
							<span class=" col s12 m6 l6 offset-l1">
							<select ng-model="$ctrl.myQuiz[$ctrl.idx].risp[asa.id]"  class="browser-default">
								<option  disabled value="">Scegli un opzione</option>
								<option ng-repeat="asb in $ctrl.myQuiz[$ctrl.idx].ans.B"  
								value="{{ asb.id }}"
								ng-class="{'selected':asa.risp == asb.id}">{{asb.text}}</option>
							</select>		
							
							{{asa.risp}}
							</span>
						</p>
						
						</div>
						<!--	<span ng-model="$ctrl.activeSelect()"></span> -->

					</div>
					<div class="section ordinamento col s12 l8 offset-l2 " ng-switch-when="OD" >						
						
						<div class="card-panel col s12 l6" ng-repeat="(zdx,pip) in $ctrl.myQuiz[$ctrl.idx].ans">
						<div class="col s12 "  >							
							<span >
							<label for="singleSelect"  class="col s1  l1  "   >{{$index + 1}}. </label>
							<select ng-model="$ctrl.myQuiz[$ctrl.idx].risp[zdx + 1]" class="col s10  l11 browser-default" name="singleSelect" >
								<option value="" disabled >Scegli un opzione</option>
								<option ng-repeat="p1 in $ctrl.myQuiz[$ctrl.idx].ans" value="{{p1.id}}"
								ng-class="{'selected':selectedItem == p1}" >{{p1.text}}</option>
							</select>							
							</span>
						</div>
						</div>
					<!--	<span ng-model="$ctrl.activeSelect()"></span> -->
						
						
					</div>
					
				</div>
				</div>
				
			</div>
				
		<div class="row">	
		
			<div class="col s3 m2 l3  ">
				<a class="waves-effect waves-light btn col s12 m8 offset-m2 l6 offset-l3 " ng-click="$ctrl.prevQuestion($ctrl.myQuiz)">PREC.</a>
			</div>
			<div class="col s3 offset-s6 m2 offset-m8 l3 offset-l6 ">
				<a class="waves-effect waves-light btn col s12 m8 offset-m2 l6 offset-l3 " ng-click="$ctrl.nextQuestion($ctrl.myQuiz)">SUCC.</a>
			</div>
		</div>
		</div>
	
	
</div>
<div class="row">			
	<div id="beginQuiz" class="modal" >
		<div class="modal-content">
			<h4></h4>
			<p>A bunch of text</p>
		</div>
		<div class="card blue-grey darken-1">
            <div class="card-content white-text">
				<span class="card-title">{{$ctrl.miniModel.title}}</span>
				<p>{{$ctrl.miniModel.description}}</p>
            </div>
            <div class="card-action">
				<a class=" waves-effect waves-light btn"  ng-click="$ctrl.goBack()">Indietro</a>
				<a class=" waves-effect waves-light btn"  ng-click="$ctrl.startQuiz()">Inizia il Quiz</a>
            </div>
        </div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
		</div>
	</div>
	
</div>

<div class="row">
	<div id="endQuiz" class="modal " >
		<div class="modal-content red darken-4 white-text">
			<h4>{{$ctrl.miniModel.title}} </h4>
			<p>{{$ctrl.miniModel.description}}</p>
		<div class="card  pink lighten-5">
            <div class="card-content black-text">
				<span ><h6>Compilazione terminata!</h6> <i class="material-icons">av_timer</i> 	</span>
				
				
            </div>
            
        </div>
		</div>
		<div class="modal-footer">
			<a href="/quizResults" class=" modal-action modal-close waves-effect waves-green btn">Vai ai risultati!</a>
				</div>
	</div>

</div>
