<div >
	<header>
		<h1>Quiz Creation</h1>
	</header>
	
	<form ng-submit="$ctrl.saveQuiz($ctrl.title, $ctrl.questions, $ctrl.categories, $ctrl.time)" class="row">
		<legend class="hidden">Create your quiz</legend>
		<fieldset>
			<div class="input-field col s4">
				<label for="title">Title</label>
				<input type="text" id="title" ng-model="$ctrl.title" required/>
			</div>
			<div class="input-field col s4">
				<label for="time" class="active">Quiz time</label>
				<input type="number" min="5" max="120" id="time"  placeholder="5" ng-model="$ctrl.time" required/>
			</div>					
			
			<div class="col s12" ng-show="$ctrl.categories.length != 0">
				<ul class="collection with-header">
					<li class="collection-header"><h4>Quiz categories</h4></li>
					<li ng-repeat="category in $ctrl.categories" class="collection-item">
						{{category.category}} - {{category.counter}}					
					</li>						
				</ul>
			</div>
			
			<div class="input-field col s12">						
				<ul class="collection with-header">
					<li class="collection-header"><h4>Add questions to your quiz</h4></li>
					<li ng-repeat="question in $ctrl.questionList" class="collection-item">
						<div>									
							<input type="checkbox" id="{{$index}}" class="filled-in" ng-checked="$ctrl.questions.indexOf(question._id) > -1"  ng-click="$ctrl.toggleSelection(question)" value="{{question._id}}" />								
							<label for="{{$index}}"></label>
							Categoria: {{question.category}}
						</div>
					</li>						
				</ul>
			</div>			
			<div class="col s7 right">
				<input type="submit" id="submit" value="Save Quiz" class="waves-effect waves-light btn"/>	
			</div>
		</fieldset>														
	</form>

</div>
