<div class="row dev2">
    <div class="container">
        <div class="col s3 photo left">
            <img src="images/abeccaro.jpg" alt="Alex Beccaro" class="circle dev-photo" />
        </div>
        <div class="col s9">
            <p class="name">Alex Beccaro</p>
            <p class>Programmatore di incredibili capacità tecniche, sa fare di tutto ed è pure molto veloce, 10/10 ign review</p>
            <p>Specialization: front-end development</p>
        </div>                        
    </div>   
</div>
<div class="container">
	<div class ="col s8 left">
		<h2>Le tue domande</h2>
		<question-list></question-list>
	</div>
	<div class ="col s8 left">
		<h2>I tuoi Quiz</h2>		
		<quiz-list></quiz-list>
	</div>
</div>
