<div class="row dev2">
    <div class="container">
        <div class="col s3 photo left">
            <img src="images/abeccaro.jpg" alt="Alex Beccaro" class="circle dev-photo" />
        </div>
        <div class="col s9">
            <p class="name">{{$ctrl.getUsername()}}</p>
            <p>Domande Create: {{$ctrl.getQuestionsNum()}}</p>
            <p>Quiz creati: {{$ctrl.getQuizNum()}}</p>
        </div>                        
    </div>   
</div>
<div class="container">
	<div class ="col s12 left">
		<h2>Le tue domande</h2>
		<question-list></question-list>
	</div>
	<div class ="col s12 left">
		<h2>I tuoi Quiz</h2>		
		<quiz-list></quiz-list>
	</div>
</div>
